<section>
  <div class="option-container">
    <button class="option" (click)='toggle("create")'>create</button>
    <button class="option" (click)='toggle("join")'>join</button>
    <button class="option" (click)='toggle("check")'>check</button>
  </div>

  <div *ngIf = "active == 'create'" class='room-modal'>
    <input type="text" [(ngModel)]="param">
    <button (click)=createRoom()>create room</button>
  </div>
  <div *ngIf = "active == 'join'" class='room-modal'>
    <input type="text" [(ngModel)]="param">
    <button (click)=joinRoom()>join</button>
  </div>
  <div *ngIf = "active == 'check'" class='room-modal'>
    <input type="text" [(ngModel)]="param">
    <button (click)=check()>check</button>
  </div>

  <div *ngIf="result !== ''" class="result">
    <h1>{{result}}</h1>
  </div>
</section>
