<section>

  <div class="chatbox">
    <div class="heading">
      <button class="material-symbols-outlined">logout</button>
    </div>
    <div class="message-container"></div>
    <div class="action-container">
      <input type="text" id="message" [(ngModel)]="message" placeholder="Type a message">
      <button (click)=sendMessage()>send</button>
    </div>
  </div>

  <div>
    <div class="message-container">
      <div *ngFor="let str of messages">
        <div>{{str}}</div>
      </div>
    </div>

  </div>
</section>
