<section>

  <div class="chatbox">
    <div class="heading">
      <span class="heading-text">Room id : {{ room }}</span>
      <button class="material-symbols-outlined green" (click) = exitChat()>logout</button>
    </div>
    <div class="message-container">
        <div class="message" *ngFor="let message of messages">
          <div class="received" *ngIf="message.status === 'r'">{{ message.message }}</div>
          <div class="sent" *ngIf="message.status === 's'">{{ message.message }}</div>
        </div>
    </div>
    <div class="action-container">

      <input type="text" id="message" [(ngModel)]="message" placeholder (keydown.enter)="sendMessage()">
      <button class="material-symbols-outlined white" (click)=sendMessage()>send</button>

    </div>
  </div>
</section>
